<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701760780130-8g17p9a9d0etcl9ain3jrpnmaho6pcak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701760780130-8g17p9a9d0etcl9ain3jrpnmaho6pcak</string>
	<key>API_KEY</key>
	<string>AIzaSyA15RREmOHuFAMx8F1-RgzD84Qv_9gs7dU</string>
	<key>GCM_SENDER_ID</key>
	<string>701760780130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.codemagic.dtrdic8</string>
	<key>PROJECT_ID</key>
	<string>pc-api-8478664491092592353-718</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-api-8478664491092592353-718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701760780130:ios:c8f3bbbaf7c9b23cf09e3b</string>
</dict>
</plist>